<div class="content">

  <form class="py-32" [formGroup]="form" fxLayout="column">

    <mat-form-field appearance="outline">
      <mat-label>Mail</mat-label>
      <input type="email" matInput formControlName="mail">
    </mat-form-field>

    <div *ngIf="(mailField.invalid && mailField.touched) || mailField.dirty">
    	<mat-error *ngIf="mailField.errors?.required" class="text-danger">Email is required</mat-error>
    	<mat-error *ngIf="mailField.errors?.pattern" class="text-danger">Please provide a valid email address</mat-error>
  	</div>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submit(form.value)">Submit</button>

</form>

</div>

